<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FORMULÁRIO DE AVALIAÇÃO CONTRATO DE EXPERIÊNCIA</title>

  <!-- SCRIPTS PARA CARREGAR FUNÇÕES DA SENIOR -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.14/iframeResizer.contentWindow.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.js"></script>
  <script type="text/javascript" src="https://cdn.senior.com.br/platform/1.7.1/js/workflow-cockpit.min.js"></script>
  
  <!-- SCRIPTS PARA CARREGAR O DATEPICKER -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  
  <!-- SCRIPTS PARA CARREGAR O BOOTSTRAP -->
  <link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
  crossorigin="anonymous">
  <script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
  crossorigin="anonymous"
></script>

<!-- SCRIPTS LOCAIS -->
<script src="/controller/datepicker_controller.js" type="text/javascript"></script>
<script src="/view/components/datepicker/locales/bootstrap-datepicker.pt-BR.min.js" type="text/javascript"></script>
<script src="/controller/consumer_data_form_contrato_experiencia.js"></script>
<script src="/model/data/data_form_contrato_experiencia.js"></script>
<script src="/model/services/get_filial.js"></script>
<script src="/controller/main_controller.js"></script>
<script src="/controller/bpm_form_contrato_experiencia.js"></script>
</head>
<body style="margin: revert " onload="main()">
  
  <main>
    <!-- FORMULÁRIO PARA AVALIAÇÃO DE EXPERIÊNCIA -->
   <form id="form-contrato-experiencia " class="row  g-3" novalidate>
<!-- SEÇÃO DE INPUTS -->
    <section class="row d-flex justify-content-center">
      <div class="col-lg-10 mt-4 mb-4">
        <h6 class="m-0 text-center">FORMULÁRIO DE AVALIAÇÃO CONTRATO DE EXPERIÊNCIA</h2> 
      </div>
      <div class="col-md-11 mb-3 ml-5 ">
        <label for="nomFil" class="form-label mb-1">UNIDADE/LOJA:</label>
        <select id="nomFil" class="form-select">
          <option selected>Selecione...</option>
          <option value="100 - MS - Dourados">100 - MS - Dourados</option>
          <option value="101 - MS - Campo Grande">101 - MS - Campo Grande</option>
          <option value="200 - MT - Varzea Grande">200- MT - Varzea Grande</option>
          <option value="201 - MS - Rondonopolis">201 - MS - Rondonopolis</option>
          <option value="202 - MS - Sinop">202 - MS - Sinop</option>
          <option value="300 - MS - Vilhena">300 - MS - Vilhena</option>
          <option value="301 - MS - Porto Velho">301 - MS - Porto Velho</option>
          <option value="302 - MS - Rio Branco">302 - MS - Rio Branco</option>
          
        </select>
      </div>
      <div class="col-md-11 mb-3">
        <label for="nomAva" class="form-label mb-1">NOME DO AVALIADOR:</label>
        <input type="text" class="form-control" id="nomAva"/>
      </div>
      <div class="col-md-11 mb-3">
        <label for="nomFun" class="form-label mb-1">CÓDIGO E NOME DO FUNCIONÁRIO:</label>
        <input type="text" class="form-control" id="nomFun"/>
      </div>
      <div class="col-md-11 mb-3">
        <label for="tipCar" class="form-label mb-1">CARGO:</label>
        <input type="text" class="form-control" id="tipCar"/>
      </div>
      <div class="col-md-11 mb-3">
        <label for="tipSet" class="form-label mb-1">SETOR:</label>
        <input type="text" class="form-control" id="tipSet"/>
      </div>
      <div class="col-md-11">
        <label for="dateCur" class="form-label mb-1">DATA ATUAL:</label>
        <div class="input-group date" >
          <input type="text" class="form-control" id="dateCur">
          <div class="input-group-addon ">
              <svg  class="pr-2" xmlns="http://www.w3.org/2000/svg" width="40" height="34" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
          </div>
      </div>
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="" id="idCHKAV01">
        <label class="form-check-label" for="idCHKAV01">
          2ª Avaliação
        </label>
      </div>
    </section>
    <!-- SEÇÃO DE INSTRUÇÃO DE PREENCHIMENTO -->
    <section class="row d-flex justify-content-center mt-4">
      <p class="col-md-11 text-wrap text-sm-start fs-6">INSTRUÇÕES DE PREENCHIMENTO: <br>
        01: Esta ficha constitui a segunda avaliação de desempenho do novo funcionário. Do seu resultado depende a sua contratação ou
        desligamento definitivo da empresa.<br>
        02: Ao dar sua opinião, procure ser objetivo e imparcial, analisando o desempenho do funcionário durante o período da experiência
        e suas possibilidades de vincular-se definitivamente à empresa.<br>
        03: Escolha apenas uma frase de cada item, assinalando-a com um “X”.<br>
        04: Caso as frases não correspondam às características do seu novo funcionário, ou estejam incompletas, assinale a que mais se
        aproximar, fornecendo maiores explicações no espaço reservado a “observações”.<br>
        05: Observe a data de devolução, que é de 5 (cinco) dias.<br></p>
    </section>
    <!-- SEÇÃO DE CHECKBOX E TEXTAREA PREENCHIDA DINAMICAMENTE -->
    <section class="row d-flex justify-content-center mt-4" id="id-check-textarea">  
    </section>
    <section class="row d-flex justify-content-center mt-0">
      <div class="col-md-11">
        <p class="text-start fs-5">INFORMAÇÕES GERAIS:</p>
        <div class="col-md-11 mb-2">
          <label for="aspFav" class="form-label mb-1">Qual o aspecto mais favorável do funcionário?</label>
          <input type="text" class="form-control" id="aspFav"/>
        </div>
        <div class="col-md-11 mb-2">
          <label for="aspPrej" class="form-label mb-1">Qual o aspecto que mais prejudica o funcionário?</label>
          <input type="text" class="form-control" id="aspPrej"/>
        </div>
        <div class="col-md-11 mb-4">
          <label for="oriFunc" class="form-label mb-1">Que orientação deverá ser dada ao funcionário para corrigir-se?</label>
          <input type="text" class="form-control" id="oriFunc"/>
        </div>
      </div>
    </section>
    <section class="row d-flex justify-content-center mt-0 mb-4">
      <div class="col-md-11">
        <p class="text-start fs-5">ESPAÇO DO RH:</p>
        <p class="text-start fs-6">DE MANEIRA GERAL, COMO O FUNCIONÁRIO PODE SER CLASSIFICADO?</p>
        <div class="form-check mt-1">
          <input class="ml-5 form-check-input" type="checkbox" value="" id="idCHKRH01">
          <label class="ml-6 form-check-label"  for="idCHKRH01">
            Trata-se de excelente aquisição para a empresa.
          </label>
        </div>
        <div class="form-check mt-1">
          <input class="ml-5 form-check-input" type="checkbox" value="" id="idCHKRH02">
          <label class="ml-6 form-check-label"  for="idCHKRH02">
            Boa contratação.
          </label>
        </div>
        <div class="form-check mt-1">
          <input class="ml-5 form-check-input" type="checkbox" value="" id="idCHKRH03">
          <label class="ml-6 form-check-label"  for="idCHKRH03">
            Não atende as necessidades da empresa.
          </label>
        </div>
      </div>
    </section>
    <section class="row d-flex justify-content-center mt-0 mb-4">
      <div class="col-md-11">
        <p class="text-start fs-5">SÍNTESE:</p>
        <div class="form-check mt-1">
          <input class="ml-5 form-check-input" type="checkbox" value="" id="idCHKSI01">
          <label class="ml-6 form-check-label"  for="idCHKSI01">
            Efetivar.
          </label>
        </div>
        <div class="form-check mt-1">
          <input class="ml-5 form-check-input" type="checkbox" value="" id="idCHKSI02">
          <label class="ml-6 form-check-label"  for="idCHKSI02">
            Demitir.
          </label>
        </div>
      </div>
    </section>
   </form>
  </main>
</body>
</html>