<!-- SEÇÃO DE INSTRUÇÃO DE ADAPTAÇÃO DO COLABORADOR AO TRABALHO -->
<section class="row d-flex justify-content-center mt-4">
  <div class="col-md-11">    
  <label class="col-md-11" for="infoForm">
    ADAPTAÇÃO DO COLABORADOR AO TRABALHO: 
    <i data-bs-toggle="tooltip" data-bs-placement="bottom" title="Como o funcionário está interagindo ao trabalho">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
      </svg>
    </i>
  </label>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idADCT01">
    <label class="form-check-label" for="flexCheckDefault">
      Está plenamente adaptado (a) ao cargo e integrou-se as normas da empresa.
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idADCT02">
    <label class="form-check-label" for="flexCheckDefault">
      Tem feito o possível para adaptar-se não só ao trabalho, como também às normas da empresa
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idADCT03">
    <label class="form-check-label" for="flexCheckDefault">
      Ainda não está totalmente adaptado (a) ao cargo e as normas da empresa
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idADCT04">
    <label class="form-check-label" for="flexCheckDefault">
      Não atende as normas da empresa e tem dificuldade de se adaptar ao trabalho
    </label>
  </div>
  <p class="m-0 mt-3 mb-1">Obs:</p>
  <textarea aria-required="false" id="txtAreaADCT" rows="5" spellcheck="true" lang="pt-br" class="form-control" type="text" ref="input" aria-invalid="false"></textarea>
</div>
</section>
<!-- SEÇÃO DE INSTRUÇÃO DE ORGANIZAÇÃO E PLANEJAMENTO -->
<section class="row d-flex justify-content-center mt-5">
  <div class="col-md-11">    
  <label class="col-md-11" for="infoForm">
    ORGANIZAÇÃO E PLANEJAMENTO: 
    <i data-bs-toggle="tooltip" data-bs-placement="bottom" title="Considera estabelecer prioridades em planejar ações da melhor forma para execução das tarefas.">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
      </svg>
    </i>
  </label>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idOEP01">
    <label class="form-check-label" for="flexCheckDefault">
      Grande facilidade para manter o planejamento e a ordem em suas tarefas.
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idOEP02">
    <label class="form-check-label" for="flexCheckDefault">
      Por vezes mantêm-se organizado, mas necessita de supervisão periódica para manter o mínimo aceitável de organização.
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idOEP03">
    <label class="form-check-label" for="flexCheckDefault">
      Não é organizado, mesmo com supervisão constante.
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idOEP04">
    <label class="form-check-label" for="flexCheckDefault">
      Não atende as normas da empresa e tem dificuldade de se adaptar ao trabalho.
    </label>
  </div>
  <p class="m-0 mt-3 mb-1">Obs:</p>
  <textarea aria-required="false" id="txtAreaOEP" rows="5" spellcheck="true" lang="pt-br" class="form-control" type="text" ref="input" aria-invalid="false"></textarea>
</div>
</section>
<!-- SEÇÃO DE INSTRUÇÃO DE ATENDIMENTO AO CLIENTE EXTERNO -->
<section class="row d-flex justify-content-center mt-5">
  <div class="col-md-11">    
  <label class="col-md-11" for="infoForm">
    ATENDIMENTO AO CLIENTE EXTERNO: 
    <i data-bs-toggle="tooltip" data-bs-placement="bottom" title="Entende-se como externo qualquer outra pessoa fora da sua sala de trabalho.">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
      </svg>
    </i>
  </label>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idACE01">
    <label class="form-check-label" for="flexCheckDefault">
      Presta excelente atendimento, demonstrando cortesia e atenção para com o outro.
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idACE02">
    <label class="form-check-label" for="flexCheckDefault">
      Presta bom atendimento, demonstrando atenção necessária ao que lhe é solicitado.
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idACE03">
    <label class="form-check-label" for="flexCheckDefault">
      Realiza atendimento precário, demonstrando pouco interesse ao que lhe é solicitado.
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idACE04">
    <label class="form-check-label" for="flexCheckDefault">
      Presta atendimento deficitário, com dificuldades de interação com o público.
    </label>
  </div>
  <p class="m-0 mt-3 mb-1">Obs:</p>
  <textarea aria-required="false" id="txtAreaACE" rows="5" spellcheck="true" lang="pt-br" class="form-control" type="text" ref="input" aria-invalid="false"></textarea>
</div>
</section>
<!-- SEÇÃO DE INSTRUÇÃO DE CAPACIDADE DE APRENDIZAGEM -->
<section class="row d-flex justify-content-center mt-5">
  <div class="col-md-11">    
  <label class="col-md-11" for="infoForm">
    CAPACIDADE DE APRENDIZAGEM: 
    <i data-bs-toggle="tooltip" data-bs-placement="bottom" title="É a facilidade com a qual consegue perceber pontos importantes daquilo que lhe está sendo ensinado">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
      </svg>
    </i>
  </label>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idCDA01">
    <label class="form-check-label" for="flexCheckDefault">
      Parece especialmente habilitado para o cargo em que está, tem facilidade para aprender e executa sem grandes falhas.
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idCDA02">
    <label class="form-check-label" for="flexCheckDefault">
      Parece adequado para o cargo ao qual foi encaminhado, aprende suas tarefas com facilidade.
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idCDA03">
    <label class="form-check-label" for="flexCheckDefault">
      Está conseguindo aprender o que lhe foi ensinado a custo de grande esforço pessoal, necessário repetir as mesmas coisas várias vezes.
    </label>
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" value="" id="idCDA04">
    <label class="form-check-label" for="flexCheckDefault">
      O funcionário não está capacitado para o cargo ao qual foi designado, necessita de muito tempo e treinamento para desempenhar tal função.
    </label>
  </div>
  <p class="m-0 mt-3 mb-1">Obs:</p>
  <textarea aria-required="false" id="txtAreaCDA" rows="5" spellcheck="true" lang="pt-br" class="form-control" type="text" ref="input" aria-invalid="false"></textarea>
</div>
</section>
   <!-- SEÇÃO DE INSTRUÇÃO DE RESPONSABILIDADE -->
   <section class="row d-flex justify-content-center mt-5">
    <div class="col-md-11">    
    <label class="col-md-11" for="infoForm">
      RESPONSABILIDADE: 
      <i data-bs-toggle="tooltip" data-bs-placement="bottom" title="Preocupação com os compromissos assumidos, empenho na execução das atividades e cuidado com os bens empresa.">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
        </svg>
      </i>
    </label>
    <div class="form-check mt-2">
      <input class="form-check-input" type="checkbox" value="" id="idRPB01">
      <label class="form-check-label" for="flexCheckDefault">
        Conduz suas responsabilidades com desenvoltura, chegando a se preocupar em dar suporte aos colegas nas questões de trabalho.
      </label>
    </div>
    <div class="form-check mt-2">
      <input class="form-check-input" type="checkbox" value="" id="idRPB02">
      <label class="form-check-label" for="flexCheckDefault">
        Preocupa-se sempre em cumprir os compromissos assumidos, empenhando-se na execução das tarefas.
      </label>
    </div>
    <div class="form-check mt-2">
      <input class="form-check-input" type="checkbox" value="" id="idRPB03">
      <label class="form-check-label" for="flexCheckDefault">
        Na maioria das vezes falta empenho e/ou responsabilidades nas atividades assumidas.
      </label>
    </div>
    <div class="form-check mt-2">
      <input class="form-check-input" type="checkbox" value="" id="idRPB04">
      <label class="form-check-label" for="flexCheckDefault">
        Completamente desinteressado. Não se empenha na execução do seu trabalho e não cumpre os compromissos assumidos.
      </label>
    </div>
    <p class="m-0 mt-3 mb-1">Obs:</p>
    <textarea aria-required="false" id="txtAreaRPB" rows="5" spellcheck="true" lang="pt-br" class="form-control" type="text" ref="input" aria-invalid="false"></textarea>
  </div>
  </section>
     <!-- SEÇÃO DE INSTRUÇÃO DE COOPERAÇÃO/ENVOLVIMENTO -->
     <section class="row d-flex justify-content-center mt-5">
      <div class="col-md-11">    
      <label class="col-md-11" for="infoForm">
        COOPERAÇÃO/ENVOLVIMENTO: 
        <i data-bs-toggle="tooltip" data-bs-placement="bottom" title="Considera a colaboração com os demais colaboradores e o envolvimento no desempenho das funções.">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
          </svg>
        </i>
      </label>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idCEN01">
        <label class="form-check-label" for="flexCheckDefault">
          Envolve-se e coopera com os colaboradores do seu departamento de maneira satisfatória.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idCEN02">
        <label class="form-check-label" for="flexCheckDefault">
          Geralmente coopera e se envolve com as tarefas, mas por vezes é preciso chamar a colaborar.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idCEN03">
        <label class="form-check-label" for="flexCheckDefault">
          Não é colaborador, precisa ser constantemente solicitado, mesmo nas tarefas normais.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idCEN04">
        <label class="form-check-label" for="flexCheckDefault">
          Não coopera com a equipe mesmo quando é solicitado, não demonstra vontade de trabalhar, nem nas tarefas normais.
        </label>
      </div>
      <p class="m-0 mt-3 mb-1">Obs:</p>
      <textarea aria-required="false" id="txtAreaCEN" rows="5" spellcheck="true" lang="pt-br" class="form-control" type="text" ref="input" aria-invalid="false"></textarea>
    </div>
    </section>
     <!-- SEÇÃO DE INSTRUÇÃO DE PRODUTIVIDADE/EFICIÊNCIA -->
     <section class="row d-flex justify-content-center mt-5">
      <div class="col-md-11">    
      <label class="col-md-11" for="infoForm">
        PRODUTIVIDADE/EFICIÊNCIA: 
        <i data-bs-toggle="tooltip" data-bs-placement="bottom" title="Avalia a quantidade de trabalho produzido, dentro dos padrões adequados para função">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
          </svg>
        </i>
      </label>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idPRE01">
        <label class="form-check-label" for="flexCheckDefault">
          O trabalho produzido supera o esperado para a função. Destaca-se no grupo de trabalho.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idPRE02">
        <label class="form-check-label" for="flexCheckDefault">
          O trabalho produzido satisfaz ao que é esperado para a função.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idPRE03">
        <label class="form-check-label" for="flexCheckDefault">
          É um pouco lento, o trabalho produzido às vezes não atinge ao esperado.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idPRE04">
        <label class="form-check-label" for="flexCheckDefault">
          É muito lento na maioria das execuções das tarefas. O trabalho produzido sempre está abaixo do esperado para função.
        </label>
      </div>
      <p class="m-0 mt-3 mb-1">Obs:</p>
      <textarea aria-required="false" id="txtAreaPRE" rows="5" spellcheck="true" lang="pt-br" class="form-control" type="text" ref="input" aria-invalid="false"></textarea>
    </div>
    </section>
     <!-- SEÇÃO DE INSTRUÇÃO DE CONHECIMENTO DO TRABALHO -->
     <section class="row d-flex justify-content-center mt-5">
      <div class="col-md-11">    
      <label class="col-md-11" for="infoForm">
        CONHECIMENTO DO TRABALHO: 
        <i data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deve ser avaliado o conhecimento que o colaborador tem sobre o trabalho que executa.">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
          </svg>
        </i>
      </label>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idCDT01">
        <label class="form-check-label" for="flexCheckDefault">
          Tem pleno conhecimento do trabalho e executa sem grandes falhas.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idCDT02">
        <label class="form-check-label" for="flexCheckDefault">
          Tem conhecimento do trabalho, porém apresenta falhas ao executar.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idCDT03">
        <label class="form-check-label" for="flexCheckDefault">
          Tem pouco conhecimento do trabalho, mas empenha em capacitar-se.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idCDT04">
        <label class="form-check-label" for="flexCheckDefault">
          O funcionário não tem conhecimento do trabalho e não apresenta interesse para aprender.
        </label>
      </div>
      <p class="m-0 mt-3 mb-1">Obs:</p>
      <textarea aria-required="false" id="txtAreaCDT" rows="5" spellcheck="true" lang="pt-br" class="form-control" type="text" ref="input" aria-invalid="false"></textarea>
    </div>
    </section>
    <!-- SEÇÃO DE INSTRUÇÃO DE QUALIDADE -->
    <section class="row d-flex justify-content-center mt-5">
      <div class="col-md-11">    
      <label class="col-md-11" for="infoForm">
        QUALIDADE: 
        <i data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deve ser avaliado a capacidade do colaborador em executar suas atividades sem falhas.">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
          </svg>
        </i>
      </label>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idQUA01">
        <label class="form-check-label" for="flexCheckDefault">
          As tarefas não apresentam falhas e superam as expectativas.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idQUA02">
        <label class="form-check-label" for="flexCheckDefault">
          As tarefas raramente apresentam falhas, o funcionário corresponde as expectativas da empresa.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idQUA03">
        <label class="form-check-label" for="flexCheckDefault">
          As tarefas geralmente apresentam falhas, mas o colaborador se esforça para diminuir.
        </label>
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="idQUA04">
        <label class="form-check-label" for="flexCheckDefault">
          As tarefas geralmente apresentam falhas graves e repetitivas comprometendo o bom andamento das atividades.
        </label>
      </div>
      <p class="m-0 mt-3 mb-1">Obs:</p>
      <textarea aria-required="false" id="txtAreaQUA" rows="5" spellcheck="true" lang="pt-br" class="form-control" type="text" ref="input" aria-invalid="false"></textarea>
    </div>
    </section>